[submodule "packages/rps"]
	path = packages/rps
	url = git@github.com:PlasmoHQ/rps.git
	branch = main
[submodule "packages/puro"]
	path = packages/puro
	url = git@github.com:PlasmoHQ/puro.git
	branch = main
[submodule "templates/qtt"]
	path = templates/qtt
	url = git@github.com:PlasmoHQ/qtt.git
	branch = main
[submodule "packages/gcp-refresh-token"]
	path = packages/gcp-refresh-token
	url = git@github.com:PlasmoHQ/gcp-refresh-token.git
	branch = main
[submodule "packages/use-hashed-state"]
	path = packages/use-hashed-state
	url = git@github.com:PlasmoHQ/use-hashed-state.git
	branch = main
[submodule "packages/storage"]
	path = packages/storage
	url = git@github.com:PlasmoHQ/storage.git
	branch = main
[submodule "examples"]
	path = examples
	url = git@github.com:PlasmoHQ/examples.git
[submodule "packages/permission-ui"]
	path = packages/permission-ui
	url = git@github.com:PlasmoHQ/permission-ui.git
[submodule "packages/utils"]
	path = packages/utils
	url = https://github.com/PlasmoHQ/plasmo-utils.git
[submodule "packages/constants"]
	path = packages/constants
	url = https://github.com/PlasmoHQ/plasmo-constants.git
[submodule "packages/config"]
	path = packages/config
	url = https://github.com/PlasmoHQ/plasmo-config.git
[submodule "packages/prettier-plugin-sort-imports"]
	path = packages/prettier-plugin-sort-imports
	url = https://github.com/PlasmoHQ/prettier-plugin-sort-imports.git
