<!DOCTYPE html>
<html>
  <head>
    <title>__plasmo_static_index_title__</title>
    <meta charset="utf-8" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");

      html,
      body {
        font-family: Inter, sans-serif;
        font-size: 14px;
        line-height: 1.4;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <div id="root"></div>
    <script src="./index.tsx" type="module"></script>
  </body>
</html>
